# Environment files
.env

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Dependencies & Build outputs
node_modules/
dist/
dist_keycloak/
target/
*.log

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/crash.log
terraform/terraform.tfvars

scratch